body { 
        background: #FFF8DC;
}

#main-aside-wrapper {
  display: flex;
  flex-direction: column;
}
#main-aside-wrapper main, #main-aside-wrapper aside {
  margin: 10px;
  padding: 10px;
}
#main-aside-wrapper aside {
  flex: 1;
  order: 1;
}
#main-aside-wrapper main {
  flex: 3;
  order: 2;
}

@media screen and (min-width: 800px) {
  #main-aside-wrapper {
    flex-direction: row;
    width: 96%;
    margin-right: 2%;
  }
}
@media screen and (max-width: 799px) {
  #main-aside-wrapper {
    flex-direction: row;
    width: 96%;
    margin-right: 2%;
  }
}
    
a { 
 color:red;
 font-weight: bold;
}
        footer{
            text-align: center;
            background: #FFFFFF;
        }

